body{

    COLOR: rgb(248, 248, 9);
    background: green;
    }

header{

    font-size: 30px;
    color: green;
    padding: 20px;
border:solid 5px rgb(51, 145, 8);
display: flex;
justify- content: center;
}
.titulo{
    font-size: 25px
}